//app.component.html
<div>
    <h1>
        Hola mundo Angular
    </h1>
</div>

<div>
    {{title}}
</div>
<div>
    la suma de 2 + 2 es {{2+2}}
</div>
<div>
    El doble de 3 es {{duplicarNumero(3)}}
</div>
<div>
    <h2>
        Datos de la pelicula 
    </h2>
        <div>{{pelicula.titulo | uppercase}}</div>
         <div>{{pelicula.fechadeLanzamiento | date: "dd-MM-yy"}}</div>
         <div>{{pelicula.precio | currency}}</div>
    
</div>

//appcomponent.ts se ponen las funciones
export class AppComponent{
  title='AngularEjemplo_02'
  duplicarNumero(n:number):number{
      return n+2;
  }

  pelicula={
    titulo:'Cantinflas show',
    fechadeLanzamiento:new Date(),
    precio:1234
  }
}